<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login, Sign up Header</title>

  <link rel="stylesheet" href="/assests/stylesheets/demo.css">
  <link rel="stylesheet" href="/assests/stylesheets/header-login-signup.css">
  <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

</head>

<body style="padding-top: 20px;">

<footer class="header-login-signup">

  <div>

    <h1 style="font: normal 28px Cookie, Arial, Helvetica, sans-serif; color: red; line-height: 40px; margin: 0; text-align: center;"><a href="http://unm.edu">University of New Mexico</a></h1>

  

  </div>

</footer>


</body>

</html>
