<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login, Sign up Header</title>

  <link rel="stylesheet" href="/assests/stylesheets/demo.css">
  <link rel="stylesheet" href="/assests/stylesheets/header-login-signup.css">
  <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

</head>

<body>

<header class="header-login-signup">

  <div class="header-limiter">

    <h1><a href="#">ECE595<span>HW3</span></a></h1>

    <nav>
      <a href="http://localhost:3000">Home</a>
      <a href="/posts" class="selected">Posts</a>
      
    </nav>

    <ul>
      <!--<li><a href="/users/sign_in">Login</a></li>
      <li><a href="/users/sign_up">Sign up</a></li>-->
      <% if user_signed_in? %>
        <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>
      <% else %>
        <li>
            <%= link_to('Login', new_user_session_path)  %>  
            <%= link_to('SignUp', new_user_registration_path)  %> 
        </li>
      <% end %>
    </ul>

  </div>

</header>




<!-- Demo ads. Please ignore and remove. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.tutorialzine.com/misc/enhance/v3.js" async></script>

</body>

</html>
